In [2]:
import pandas as pd

In [3]:
#1
dict1={1: [1, 4, 3, 4, 5], 2: [4, 5, 6, 7, 8], 3: [7, 8, 9, 0, 1]}
df1=pd.DataFrame(dict1)
print(df1, "\n")
print(df1.loc[df1[1]==4])

   1  2  3
0  1  4  7
1  4  5  8
2  3  6  9
3  4  7  0
4  5  8  1

In [7]:
#2
punto2=(df1[1]).to_list()
print(punto2)

[1, 4, 3, 4, 5]

In [16]:
#3
df_vacio=pd.DataFrame()
df_vacio
s1=pd.Series([1, 4, 3, 4, 5])
df_vacio=df_vacio.append(s1, ignore_index=True)
df_vacio

   1  2  3
0  1  4  7
1  4  5  8
2  3  6  9
3  4  7  0
4  5  8  1

In [36]:
#4
print(df1, "\n")
primeras_n=df1.loc[3:]
primeras_n

0    8
1    9
2    0
3    1
4    2
Name: 4, dtype: int64

In [1]:
#5
columna=pd.Series({1: [1, 4, 3, 4, 5]})
columna

In [ ]:
columnas=list(df1.columns)
columnas

In [ ]:
df1[1]

In [ ]:
a=df1[1].to_list()
a

In [ ]:
mensaje="no existe"
for column in columnas:
    if  a == df1[column].to_list():
        mensaje="existe"
print(mensaje)

In [ ]:
#manera alternativa
if 3 in columnas:
    print("si")
else:
    print("no")

if 5 in columnas:
    print("si")
else:
    print("no")

In [ ]:
#6
dict2={1: [2, 5, 6, 7, 8], 2: [5, 6, 7, 8, 9], 3: [8, 9, 8, 1, 2]}
df2=pd.DataFrame(dict2)

In [ ]:
df4=pd.concat([df1, df2],axis=0)
df3=pd.concat([df1, df2],axis=1)
print(df3, "\n", df4)

In [ ]:
#7
lista=[1, 2, 3, 4]
s7=pd.Series(lista)
df7=pd.concat([df1, s7])
df7