In [1]:
import pandas as pd

In [2]:
#1
serie1=[3, 7, 12, 15, 21]
serie2=[1, 4, 10, 14, 19]

ds1=pd.Series(serie1)
ds2=pd.Series(serie2)

print("Suma: ")
print(ds1+ds2)
print("\nResta: ")
print(ds1-ds2)
print("Multipilicación: ")
print(ds1*ds2)
print("División: ")
print(ds1/ds2)

Suma:
0     4
1    11
2    22
3    29
4    40
dtype: int64

Resta:
0    2
1    3
2    2
3    1
4    2
dtype: int64
Multipilicación:
0      3
1     28
2    120
3    210
4    399
dtype: int64
División:
0    3.000000
1    1.750000
2    1.200000
3    1.071429
4    1.105263
dtype: float64

In [3]:
#2
serie1=[3, 7, 9, 14, 25]
serie2=[1, 7, 10, 16, 19]
ds1=pd.Series(serie1)
ds2=pd.Series(serie2)
print("Igualdad: ")
print(ds1==ds2)

Igualdad:
0    False
1     True
2    False
3    False
4    False
dtype: bool

In [4]:
#3
dict1 = {"a": 10, "b": 20, "c": 30, "d": 40, "e": 50}
nueva_serie=pd.Series(dict1)
print(nueva_serie)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [5]:
#4
dict1 = {"a":[1,3,5,2], 'b':[4,2,3,3]}
dict2={}

for clave, valor in dict1.items():
    pares=[]
    impares=[]
    potencia=[]
    for i in range(len(valor)):
        if i % 2 == 0:
            pares.append(valor[i])
        else:
            impares.append(valor[i])
    for i in range(len(pares)):
        potencia.append(pares[i] ** impares[i])
    dict2[clave]=potencia
print(dict2)
new_df=pd.DataFrame(dict2)
print(new_df)

{'a': [1, 25], 'b': [16, 27]}
    a   b
0   1  16
1  25  27

In [9]:
#5
datos_ejemplo = {"nombre": ["Agustina", "Diana", "Karen", "Julián", "Emilio", "Miguel", "Mateo", "Laura", "Jorge", "Lucas"], "puntaje": [12.5, 9, 16.5, 13, 9, 20, 14.5, 10, 8, 19], "intentos": [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], "califica": [1, 0, 1, 0, 0, 1, 1, 0, 0, 1]}
labels = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
dict2={}

for clave, valor in datos_ejemplo.items():
    for i in range(len(labels)):
        dict2[clave]=labels
    for i in range(len(valor)):
        dict2[clave]=valor
new_df=pd.DataFrame(dict2)
print(new_df)

     nombre  puntaje  intentos  califica
0  Agustina     12.5         1         1
1     Diana      9.0         3         0
2     Karen     16.5         2         1
3    Julián     13.0         3         0
4    Emilio      9.0         2         0
5    Miguel     20.0         3         1
6     Mateo     14.5         1         1
7     Laura     10.0         1         0
8     Jorge      8.0         2         0
9     Lucas     19.0         1         1

In [15]:
#6
datos_ejemplo = {"nombre": ["Agustina", "Diana", "Karen", "Julián", "Emilio", "Miguel", "Mateo", "Laura", "Jorge", "Lucas"], "puntaje": [12.5, 9, 16.5, 13, 9, 20, 14.5, 10, 8, 19], "intentos": [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], "califica": [1, 0, 1, 0, 0, 1, 1, 0, 0, 1]}

labels = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
dict3={}

for clave, valor in datos_ejemplo.items():
        for i in range(len(valor)):
            dict3[clave]=valor
new_df=pd.DataFrame(dict2)
new_df=pd.DataFrame(datos_ejemplo, index=labels)
print(new_df)

     nombre  puntaje  intentos  califica
a  Agustina     12.5         1         1
b     Diana      9.0         3         0
c     Karen     16.5         2         1
d    Julián     13.0         3         0
e    Emilio      9.0         2         0
f    Miguel     20.0         3         1
g     Mateo     14.5         1         1
h     Laura     10.0         1         0
i     Jorge      8.0         2         0
j     Lucas     19.0         1         1

In [12]:
#7
datos_ejemplo = {"nombre": ["Agustina", "Diana", "Karen", "Julián", "Emilio", "Miguel", "Mateo", "Laura", "Jorge", "Lucas"], "puntaje": [12.5, 9, 16.5, 13, 9, 20, 14.5, 10, 8, 19], "intentos": [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], "califica": [1, 0, 1, 0, 0, 1, 1, 0, 0, 1]}

labels = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]

df=pd.DataFrame(datos_ejemplo, index=labels)
print(df.iloc[:3])

     nombre  puntaje  intentos  califica
a  Agustina     12.5         1         1
b     Diana      9.0         3         0
c     Karen     16.5         2         1

In [14]:
#8
datos_ejemplo = {"nombre": ["Agustina", "Diana", "Karen", "Julián", "Emilio", "Miguel", "Mateo", "Laura", "Jorge", "Lucas"], "puntaje": [12.5, 9, 16.5, 13, 9, 20, 14.5, 10, 8, 19], "intentos": [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], "califica": [1, 0, 1, 0, 0, 1, 1, 0, 0, 1]}

labels = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]

df=pd.DataFrame(datos_ejemplo, index=labels)
print(df[["nombre", "puntaje"]])

     nombre  puntaje
a  Agustina     12.5
b     Diana      9.0
c     Karen     16.5
d    Julián     13.0
e    Emilio      9.0
f    Miguel     20.0
g     Mateo     14.5
h     Laura     10.0
i     Jorge      8.0
j     Lucas     19.0

In [16]:
#9
datos_ejemplo = {"nombre": ["Agustina", "Diana", "Karen", "Julián", "Emilio", "Miguel", "Mateo", "Laura", "Jorge", "Lucas"], "puntaje": [12.5, 9, 16.5, 13, 9, 20, 14.5, 10, 8, 19], "intentos": [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], "califica": [1, 0, 1, 0, 0, 1, 1, 0, 0, 1]}

labels = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]

df=pd.DataFrame(datos_ejemplo, index=labels)
new_dict={}

for nombre in df["nombre"]:
    new_dict[nombre.upper()] = len(nombre)

df2=pd.DataFrame(new_dict.items())
print(df2)

          0  1
0  AGUSTINA  8
1     DIANA  5
2     KAREN  5
3    JULIÁN  6
4    EMILIO  6
5    MIGUEL  6
6     MATEO  5
7     LAURA  5
8     JORGE  5
9     LUCAS  5