In [2]:
import pandas as pd

In [3]:
#1
dict1={1: [1, 4, 3, 4, 5], 2: [4, 5, 6, 7, 8], 3: [7, 8, 9, 0, 1]}
pd.DataFrame(dict1)

   1  2  3
0  1  4  7
1  4  5  8
2  3  6  9
3  4  7  0
4  5  8  1

In [7]:
#2
dict1={1: [1, 4, 3, 4, 5], 2: [4, 5, 6, 7, 8], 3: [7, 8, 9, 0, 1]}
lista1=dict1[1]
lista1

[1, 4, 3, 4, 5]

In [16]:
#3
df_vacio=pd.DataFrame()
dict3={1: [1, 4, 3, 4, 5], 2: [4, 5, 6, 7, 8], 3: [7, 8, 9, 0, 1]}
for clave, valor in dict3.items():
    nuevos_datos=[]
    for i in range(len(valor)):
        nuevos_datos.append(valor[i])
    df_vacio[clave]=nuevos_datos

df_vacio

   1  2  3
0  1  4  7
1  4  5  8
2  3  6  9
3  4  7  0
4  5  8  1

In [36]:
#4
dict1={1: [1, 4, 3, 4, 5], 2: [4, 5, 6, 7, 8], 3: [7, 8, 9, 0, 1], 4: [8, 9, 0, 1, 2]}
dict4=pd.DataFrame(dict1)
dict4.pop(4)

0    8
1    9
2    0
3    1
4    2
Name: 4, dtype: int64

In [1]:
#5

In [ ]:
#6